## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [44]:
import pandas as pd
import numpy as np
import string

In [45]:
# np.random.rand 用于生成[0.0, 1.0)之间的随机浮点数。
# np.random.randn该函数返回一个样本，具有标准正态分布。
# np.random.randint([low, high, size]) 返回随机的整数，位于半开区间 [low, high)。
國家 = np.arange(1,11)
國家

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [46]:
人口 = np.random.randint(500000,size = 10)
人口

array([331259, 225898, 179851, 452838,    308, 432798, 143957,  94696,
       360229, 495225])

In [48]:
data = {'國家':np.arange(1,11),  
        '人口':np.random.randint(500000,size = 10)}
data = pd.DataFrame(data)
data
data.index = range(1,len(data)+1)
data

    國家      人口
1    1  374613
2    2  206474
3    3  405444
4    4  362491
5    5  174128
6    6  227631
7    7  260195
8    8  187353
9    9  372867
10  10   93661

In [49]:
# 先做排序
data = data.sort_values(by = '人口',ascending = False)
data

    國家      人口
3    3  405444
1    1  374613
9    9  372867
4    4  362491
7    7  260195
6    6  227631
2    2  206474
8    8  187353
5    5  174128
10  10   93661

In [50]:
# 再取出第一名
data[:1]
# 或是使用 idxmax() 可以直接教出最多人口的國家名稱
data.人口.idxmax()

3