## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [18]:
import pandas as pd
import numpy as np
import string

In [19]:
# np.random.rand 用于生成[0.0, 1.0)之间的随机浮点数。
# np.random.randn该函数返回一个样本，具有标准正态分布。
# np.random.randint([low, high, size]) 返回随机的整数，位于半开区间 [low, high)。
國家 = np.arange(1,11)
國家

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [20]:
人口 = np.random.randint(500000,size = 10)
人口

array([376420, 100244, 122036, 438390, 104079, 436086, 286994, 305354,
       132717, 216270])

In [28]:
data = {'國家':np.arange(1,11),  
        '人口':np.random.randint(500000,size = 10)}
data = pd.DataFrame(data)
data
data.index = range(1,len(data)+1)
data

    國家      人口
1    1  231861
2    2  433710
3    3  244277
4    4  183338
5    5  257924
6    6  171844
7    7  201884
8    8  254995
9    9  354118
10  10  482598

In [29]:
data.人口.max()

482598